$primary-color: #0d1117;
$secondary-color: #7d8590;
$border-color: #2c2c2c;
$white-secondary: #e6edf3;
$white: #fff;
$black: #000;

$orange-gradient: linear-gradient(104deg, rgba(255, 145, 0, 1) 8%, rgba(255, 85, 0, 1) 57%, rgba(252, 164, 69, 1) 100%);
$orange: rgb(255, 145, 0);
